.container {
    width: 600px;
    margin: 0 auto;
}
.button_dip {
    display: inline-block;
    padding:8px 10px;
    border-radius: 3px;
    color:#000;
    text-decoration: none;
}
.container .button_dip:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.steal {
    background-color: #009688;
    color: #fff;
}
.yellow {
    background-color: #ffeb3b;
}
.orange {
    background-color: orange;
}
.red {
    background-color: red;
    color: #fff;
}
.green {
    background-color: #4CAF50;
    color: #fff;
}
