.layout {
    width: 800px;
    margin:0 auto;
}
.layout h1 {
    color: #666;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
ul,li {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.container {
    margin-left: -10px;
}
.container::after {
    content: '';
    display: block;
    clear: both;
}
.container .h-card {
    float: left;
    width: 260px;
    margin-left: 10px;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.h-card>img {
    width: 100%;
    opacity: 0.75;
}
.h-card .detail {
    text-align: center;
    padding: 1px 16px;
}
.detail p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}