*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,li{
    list-style: none;
}

html,body,section{
    width: 100%;
    height: 100%;
}
.layout {
    margin: 0 auto;
    width: 600px;
}
@media(min-width:700px){
    .layout{
        width:600px;
    }
}
@media(min-width:800px){
    .layout{
        width:700px;
    }
}
@media(min-width:900px){
    .layout{
        width:800px;
    }
}
@media(min-width:1000px){
    .layout{
        width:900px;
    }
}
@media(min-width:1200px){
    .layout{
        width:1100px;
    }
}
section {
   overflow: hidden;
}
.music-ct main {
    height: calc(100% - 24vh);
}
.music-ct footer {
    height: 24vh;
    background: rgba(255,255,255,.2);
    
}
.clearfix::after{
    clear: both;
    content: '';
    display: block;
    height: 0;
}
.music-ct footer span {
    position: absolute;
    top: 7vh;
    cursor: pointer;
}
.music-ct main {
    padding: 1.5vh;
    display: flex;
    padding-top: 12vh;
}
.music-interaction {
    width: 46vh;
    margin-right: 6vh;
}
.music-interaction figure {
    width: 46vh;
    height: 46vh;
    background-image: url(./image/2.jpg);
    background-size: cover;
    background-position: center center;
}
.interaction-area {
    display: flex;
    justify-content:space-around;
    padding-top: 6vh;
}
.interaction-area li i {
    font-size: 4vh;
    color: rgba(255,255,255,.5);
    cursor: pointer;
}
.interaction-area li i:hover {
    color: rgba(255,255,255,.9);
}
.music-detail  {
    color: #fff;
    width: calc(100% - 52vh)
}
.music-detail .music-tags span{
    padding: 0.5em 1em;
    font-size: 1vh;
    display: inline-block;
    background-color: #969696; 
    margin-right: 1em;
}
.music-title {
    color: #fff;
    padding: 1.5vh 0;
    font-size: 4vh;
}
.music-hot {
    display: flex;
    justify-content: flex-start;
    margin-top: 16vh;
    margin-bottom: 4vh;
    width:100%;
}
.music-hot li {
    flex: 1;
}
.music-hot li {
    font-size: 2vh;
}
.music-hot li i {
    font-size: 2vh;
}
.music-hot li span {
    padding-left: .7vh;
}
.music-progress-detail {
    width: 100%;
    display: flex;
}
.progress{
    margin-top: .9vh;
    flex: 1;
    position: relative;
    background: rgba(255,255,255,.42);
    height: 4px;
    cursor: pointer;
    border-radius: 3px;
}
.progress span {
    position: absolute;
    background: #fff;
    width: 20%;
    height: 4px;
    border-radius: 3px;
}
.music-progress-detail .play-time {
    width: 3vh;
    margin-left: 1vh;
    text-align: right;
}
.music-singer {
    font-size: 2vh;
    padding-top: 3vh;
    padding-bottom: 2vh;
}
.musice-word {
    font-size: 1.5vh;
    color: rgba(255,255,255,.4)
}
@keyframes leftBtn {
    from {
        opacity: 1;
        left: -8vh;
    }
    to {
        opacity: 0;
        left: -12vh;
    }
}
@keyframes rightBtn {
    from {
        opacity: 1;
        right: -8vh;
    }
    to {
        opacity: 0;
        right: -12vh;
    }
}
.left-btn {
    animation: leftBtn 2s infinite;
}
.right-btn {
    animation: rightBtn 2s infinite;
}
.music-ct footer span i {
    font-size: 4vh;
    color: rgba(255,255,255,.8);
    transition: opacity .3s;
    
}
.music-ct footer span i:hover{
    opacity: 1;
}
.footer-tags {
    position: relative;
}


.footer-tags li {
    float: left;
    width: 16vh;
    margin: 1.5vh;
    cursor: pointer;
}
.footer-tags li:hover {
    box-shadow: 0 0 10px rgba(255,255,255,1);
}
.footer-tags li div{
    height: 16vh;
    width: 16vh;
    background-size:cover;
    background-position: center center;  
}
.footer-tags li p {
    text-align: center;
    color: #fff;
    line-height: 1.7;
}
.cover-box {
    display: none;
}
.bg {
    position: fixed;
    top: -10px;
    bottom:-10px;
    left: -10px;
    right: -10px;
    background: url(./image/1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(10px);
    z-index: -1;
}
.bg::before {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.3);
}