*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
a {	
	display: block;
	text-decoration: none;
	width: 100%;
}
.layout {
	width: 620px;
	margin: 0 auto;
}
li{
	display: inline-block;
	width: 300px;
	height: 230px;
	padding: 5px;
}
img {
	width: 100%;
	display: block;
}